.#{$prefix}side-navbar {
  display: flex;
  flex-direction: column;

  a {
    color: $color-heavy-gray;
    font-weight: 500;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed $color-regular-gray;
    text-decoration: none;

    &:hover:not(.--is-active) {
      background: $color-bck-light-gray;
    }
  }

  .#{$prefix}icon {
    font-size: 28px;
    margin: 0 $margin-md;
    color: $primary-color;
  }


  .--is-active {
    background: $fifth-color;
    color: $white;

    .#{$prefix}icon {
      color: currentColor;
    }
  }
}
