.#{$prefix}margin {
  &-top {
    &-sm {
      margin-bottom: $margin-sm;
    }

    &-md {
      margin-bottom: $margin-md;
    }

    &-lg {
      margin-bottom: $margin-lg;
    }

    &-xl {
      margin-bottom: $margin-xl;
    }
  }

  &-right {
    &-sm {
      margin-bottom: $margin-sm;
    }

    &-md {
      margin-bottom: $margin-md;
    }

    &-lg {
      margin-bottom: $margin-lg;
    }

    &-xl {
      margin-bottom: $margin-xl;
    }
  }

  &-bottom {
    &-sm {
      margin-bottom: $margin-sm;
    }

    &-md {
      margin-bottom: $margin-md;
    }

    &-lg {
      margin-bottom: $margin-lg;
    }

    &-xl {
      margin-bottom: $margin-xl;
    }
  }

  &-left {
    &-sm {
      margin-bottom: $margin-sm;
    }

    &-md {
      margin-bottom: $margin-md;
    }

    &-lg {
      margin-bottom: $margin-lg;
    }

    &-xl {
      margin-bottom: $margin-xl;
    }
  }
}
