
$color-primary-blue: #2F80ED;
$color-second-orange: #FF9A16;

$color-black-gray: #333333;
$color-heavy-gray: #4F4F4F;
$color-medium-gray: #828282;
$color-regular-gray: #BDBDBD;

$color-bck-light-gray: #E0E0E0;
$color-bck-off-white: #F2F2F2;
$color-bck-white: #FFFFFF;

$color-aux-success: #27AE60;
$color-aux-alert: #F2C94C;
$color-aux-error: #EB5757;
$color-aux-light-blue: #E3F6FD;
$color-aux-dark-blue: #0B3A7A;

$color-text-dark-gray: #535353;

$primary-color: $color-primary-blue;
$second-color: $color-aux-success;
$third-color: $color-second-orange;
$fourth-color: $color-aux-error;
$fifth-color: $color-aux-dark-blue;
$white: $color-bck-white;
$text-color: $color-text-dark-gray;
