<und-hero-image class="user-login" animationType="fadein" backdropTypes="blue" backgroundImage="" [versionApp]="appVersion">
  <ng-container fadeout>
    <img style="max-width: 200px" src="/assets/media/svg/circle.svg" alt="logo-corporativo">
  </ng-container>
  <!--<ng-container fadein>
    <form aria-label="Add data" [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
      <und-boxed-content shaded="true" size="large">
        <und-spacer [side]="spacerSides.BOTTOM">
          <und-call-to-action-area>
            <ng-container header>
              <img src="/assets/media/svg/logo-unidas.svg" alt="logo-unidas">
            </ng-container>
            <ng-container content>
              <h1 class="title-login mb-3 und-text-align-center">Olá!</h1>
              <p class="mb-3 und-text-align-center">Digite seus dados para começar.</p>
            </ng-container>
            <ng-container footer>
              <button type="submit" class="btn btn-primary btn-login font-weight-bold d-flex align-items-center justify-content-center">
                Continuar
              </button>
            </ng-container>
          </und-call-to-action-area>
        </und-spacer>
      </und-boxed-content>
    </form>
  </ng-container>-->
</und-hero-image>
