.#{$prefix}checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  display: flex;
  align-items: center;

  @include element(marker) {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: white;
    border: 1px solid #BDBDBD;
    vertical-align: middle;
    margin-right: 8px;
  }

  @include element(input) {
    display: inline-block;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    &:checked + .#{$prefix}checkbox__marker {
      background: $primary-color;
      border-color: $primary-color;
    }
  }

  @include element(content) {
    flex: 2;
  }
}

.#{$prefix}-is-invalid .und-checkbox__marker {
  border-color: $color-aux-error;
}

