.#{$prefix}checkbox-group {

  .#{$prefix}checkbox {
    margin-bottom: 20px;
  }

  .#{$prefix}card {
    margin: 0 0 0 12px;

    .#{$prefix}checkbox {
      margin-bottom: 0;
    }

    .#{$prefix}checkbox-group__extra-info {
      &-item {
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .#{$prefix}checkbox--has-no-bullet .#{$prefix}card {
    margin: 0;
  }

  .#{$prefix}checkbox--is-block {
    margin-bottom: 20px;
  }

  @include element(extra-info) {
    &-item {
      margin-bottom: 0;
    }
  }
}
